<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a graduate Computer Science student at <a class="underline-link" href="https://cs.nyu.edu/" target="_blank">Courant Institute, </a> <a class="underline-link" href="https://cs.nyu.edu/" target="_blank">New York University</a>. 
      
    </p>

    <p>
      Prior to this, I have worked as <strong>software engineer</strong> for over 3 years, building interactive installations and web applications.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably out running, hitting the gym, practising muay thai
      or just reading a book.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
