<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I am currently a Computer Science Graduate student at  <a class="underline-link" href="https://cs.nyu.edu/" target="_blank">New York University,</a> <a class="underline-link" href="https://cs.nyu.edu/" target="_blank">Courant</a>, and am fascinated by the world of machine learning and distributed systems!. I will be joining Bloomberg L.P. as Software Engineer in June 2020.
    </p>

    <p>
      As a rising software engineer, I enjoy solving problems and building extensible solutions. My goal is to inspire others like me to look at the bigger picture and create more scalable solutions.  This website contains all of my past and current projects that have solutions to beneficial problems. I hope that many others can extrapolate information and make them better.
    </p>

    <p>
      Recently I completed my intersnhip at <a class="underline-link" href="https://www.echoar.xyz/" target="_blank"> EchoAR </a>. Where I have been learning how AR can be used in shopping industry and schools for teaching Mathematics, Physics and other subjects, 
      and building AR applciations for online shopping and educational training.
    </p>
    <p>
      Additionally, I am also leading the development of Core-ML IOS Application which combines machine learning, computer vision and AR together.  For more details please check out my <a class="underline-link" href="https://medium.com/dev-genius/foreground-background-separation-using-core-ml-82efbe7e7fc8" target="_blank">medium blog</a>.
    </p>
    <p>
      I also teach <strong> Intro to Data Science </strong> with Professor Pascal Wallish at NYU CDS. Teaching that course has allowed me to help other graduate students reach their full potential and has allowed me to gain a completely different perspective on algorithms. 
    </p>
    <p>
      Prior to this, I was working as a <strong>software engineer</strong> at <a class="underline-link" href="https://pykih.com/" target="_blank">Pykih</a> building data driven and interactive web applications, dashboards, reports, visual essays and analytics.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I like to travel, hitt the gym, or just read a book (currently reading <strong> Psychology of money </strong>).
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
