<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Computer Science Graduate student at <a class="underline-link" href="https://cs.nyu.edu/" target="_blank">New York University, Courant Institute</a>. My interest revolves around distributed system and machine learning.
    </p>

    <p>
      Currently I am working at <a class="underline-link" href="https://www.echoar.xyz/" target="_blank"> EchoAR </a> as a software engineering intern, building AR applciations for online shopping and physics education training, and also leading the development of Core-ML IOS Application, for more details please check out my <a class="underline-link" href="https://medium.com/dev-genius/foreground-background-separation-using-core-ml-82efbe7e7fc8" target="_blank">medium blog</a>.
    </p>
    <p>
      Additional to my internship I am also teaching <strong> Graduate Fundamental Algorithms course </strong> with Professor Rick Hull at NYU.
    </p>
    <p>
      Prior to this, I was working as a <strong>software engineer</strong> at <a class="underline-link" href="https://pykih.com/" target="_blank">Pykih</a> building data driven and interactive web applications, dashboards, reports, visual essays and analytics.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I like to travel, hitt the gym, or just read a book (currently reading <strong>Trillion Dollar Coach</strong>).
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
