<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://blistabloc.com/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/scc_thumb.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="" target="_blank">Social Command Centre</a>
        </div>
        <p>A room with multiple interactive installations designed to help the client to track their social media sentiments.</p>
      </figcaption>
    </div>

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://vera.style/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/vera.jpg" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://vera.style/" target="_blank">Vera</a>
        </div>
        <p>An artificially intelligent in-store shopping assistant which helps retail customers explore product combinations in context. </p>
      </figcaption>
    </div>
  </div>
</section>
