<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>

  <div class="section__content">
    <div class="project handGesture">
      <figure class="project__pic">
        <a href="https://github.com/mohitnihalani/AR-Hand-Gesture" target="_blank">
          <img src="{{site.baseurl}}/Gif/sampleVideo.gif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/mohitnihalani/AR-Hand-Gesture" target="_blank" target="_blank">AR Hand Gesture - using Core-ML</a>
        </div>
        <p>An Core-ML/ARkit IOS application to control 3-D Augmented Reality models in realtime by recognizing hand gestures using a custom trained image recognition deep learning network.</p>
      </figcaption>
    </div>

  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://medium.com/dev-genius/foreground-background-separation-using-core-ml-82efbe7e7fc8" target="_blank">
          <img src="{{site.baseurl}}/img/featured/coreml/sample.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://medium.com/dev-genius/foreground-background-separation-using-core-ml-82efbe7e7fc8" target="_blank" target="_blank">Salient Object Detection using Core-ML</a>
        </div>
        <p>An Core-ML IOS application for salient object detection using  <a href="https://github.com/NathanUA/U-2-Net" target="_blank">U2-Net </a> deep learning network.</p>
      </figcaption>
    </div>
    <div class="project goping">
      <figure class="project__pic">
        <a href="https://github.com/mohitnihalani/Simple-Go-Ping" target="_blank">
          <img src="{{site.baseurl}}/img/featured/goping/output2.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/mohitnihalani/Simple-Go-Ping" target="_blank">Go Ping</a>
        </div>
        <p>Ping CLI Application for MacOS and Linux using Golang with addition support for IPv4, IPv6 and “Time Exceeded” messages”</p>
      </figcaption>
    </div>

    <div class="project AR">
      <figure class="project__pic">
        <a href="https://github.com/mohitnihalani/ARShopping" target="_blank">
          <img src="{{site.baseurl}}/img/featured/arshopping/sample.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/mohitnihalani/ARShopping" target="_blank">AR Shopping</a>
        </div>
        <p>R Hologram app which allows shoppers to view product in 3D and buy products from the website offering an alternative shopping experience.</p>
      </figcaption>
    </div>

    <div class="project rl">
      <figure class="project__pic">
        <a href="https://github.com/mohitnihalani/Deep-Q-Learning-Paper" target="_blank">
          <img src="{{site.baseurl}}/img/featured/rl/rl.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/mohitnihalani/Deep-Q-Learning-Paper" target="_blank">Reinforcement Learning Algorithms</a>
        </div>
        <p>Implementation of various state-of-the-art Reinforcement learning papers such as A2C, DQN, DDQN, TRPO, and PPO from scratch usign PyTorch</p>
      </figcaption>
    </div>
  </div>
</section>
