<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Web Technologies</div>
        <ul>
          {% for web in site.data.skills.WebTechnologies %}
          <li class="skillz__category__item">{{web.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Machine Learning/AI</div>
        <ul>
          {% for tool in site.data.skills.MachineLearningAI %}
          <li class="skillz__category__item">{{tool.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Database</div>
        <ul>
          {% for thing in site.data.skills.Database %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Cloud/BigData</div>
        <ul>
          {% for thing in site.data.skills.CloudBigData %}
          <li class="skillz__category__item">{{thing.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
